<!DOCTYPE html>
<html lang="en">
<head>
	{{ pagedown.include_pagedown() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel = "stylesheet" href ="{{url_for('users.pygments_css')}}">
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
	
</head>
	
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('core.index')}}"><span style ="color: blue;">DATA SCIENCE MADE EASY</span></a>
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https:&#x2F;&#x2F;storage.googleapis.com&#x2F;cloudprod-apiai&#x2F;8d8e4981-5a50-45aa-938e-5c58f994b7c4_x.png"
  chat-title="WAJE-HR-BOT"
  agent-id="f321f389-bb08-407a-8854-9f10052ba0c1"
  language-code="en"
></df-messenger>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('core.info')}}">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tutorial Videos</a>
      </li>
    </ul>
      {% if current_user.is_authenticated %}
     <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{url_for('core.index')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('users.account')}}">Account</a>
          <a class="dropdown-item" href="{{ url_for('blog_posts.create_post') }}">Create Post</a>
          <a class="dropdown-item" href="{{url_for('users.storage_ds')}}">Data Science Section</a>
		  <a class="dropdown-item" href="{{url_for('users.storage_basic')}}">Basic School Section</a>
		  <a class="dropdown-item" href="{{url_for('users.storage_junior')}}">Junior School Section</a>
		  <a class="dropdown-item" href="{{url_for('users.storage_senior')}}">Senior School Section</a>
            <a class="dropdown-item" href="{{url_for('users.logout')}}">Logout</a>
            
            
        </div>
      </li>
      </ul>

      {% else %}
      <ul class = "navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('users.login')}}">Login <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
    <a class="nav-link" href="{{url_for('users.register')}}" >Register</a>
    </li>
      </ul>
       {% endif %}

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" href="#" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	  <script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "b47303c3-1de8-4d34-9eb6-67661ae6e4c7",
      host: "https://wchat.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"Freshdesk Messaging-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>

  </div>

</nav>
{% block content %}

{% endblock %}

</body>
	
</html>
