{% extends "base.html" %}
{% block content %}
.note{
      font-size: 120;
      color: red;
      }
.box{
      width: 350px;
      height: 150px;
      margin: 10px;
      padding: 25px;
      border: 5px solid green;
      }
  <div class="box">
    <h1>DATA SCIENCE MADE EASY Blog </h1><br>
    <div align='center'>
      <h1>Cauchymike</h1>
      <img align='center' src="{{url_for('static',filename='profile_pics/'+'Micheal4364.png')}}">
    </div>



      <p>DSME was founded by Micheal Akinkuotu in 2020. Micheal who is a 
        graduate with a degree in Pure and Applied
      Mathematics from the University of Ibadan loves to impact knowledge to anyone who is ready to learn. 
      Micheal, who is sometimes referred to as cauchymike developed a passion towards data science in 2019 to solve problems in Agriculture, 
      Health, and Finance.
          Despite the fact that cauchymike is not a full-time web developer, he built this website from scratch with python programming language using the Flask web framework to achieve
          one of his goals, which is, to help young and old individuals who are interested in becoming
          scientists, particularly data scientists without much stress.
      </p>
       <p>Some of cauchymike's data science and programming projects can be found <a href="https://cauchymike.github.io/cauchy_mikes_portfolio/">here<a>. </p>

      <p>Enough has been said about cauchymike, what exactly is data science? According to Wikipedia, 
        "Data science is an inter-disciplinary field that uses scientific methods, processes,
         algorithms and systems to extract knowledge and insights from many structural and unstructured data."
         I love to define data science as the use of data to solve problems. With that definition, we can argue that
         everyone is a data scientist.
      </p>
      <p>Let me give a very simple example to butress my definition, suppose you want to go to work tommorow, you must have enough data
        to make some decisions like, waking up by 5 A.M, getting to the bus stop before 7 A.M, eating or deciding not to eat, and so on. This decision making, based on some
      data you have due to experience or data from random calculative guess is the process of data science.
      </p><br>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="max-width:40%;max-height:40%; margin:0 auto;" >
      <div  class="carousel-item active" >
        <img  src="/static/mc.jpg" class="d-block w-100" alt="..." >
        <div class="carousel-caption d-none d-md-block">
          <h5>Some of Cauchymike's student at Trinity Home college, Ibadan, Oyo state.</h5>
          <p>.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/mc1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: black;">Cauchymike at the Universiy of Ibadan during his NYSC</h5>
          <p style="color: red">Mathematics competition held at the University of Ibadan</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/my_back1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cauchymike trying to emulate Professor O.O.Ugbebor </h5>
          <p>Revision of probability in SS3 during his NYSC</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><br>
    <style>
    .note{
      font-size: 120;
      color: red;
      }
      .box{
      width: 350px;
      height: 150px;
      margin: 10px;
      padding: 25px;
      border: 5px solid green;
      }
    </style>
    
    <h1>The<span class="note"> Goals and Objectives</span>
    of Data Science Made Easy blog!
    </h1>
    <p>I will highlight some of the <span class = "note">goals and objectives</span> of this website. But I will quickly point out that this website is only
    part of a bigger plan. Through the use of the blogpost section of this website, registered users can write blog posts on any concept or topic related to
      maths and science. In particular, Cauchymike will be writing bloposts on Python programming language and Data science. There will be atleast one blog post every week.
      At the end of every blogpost, it is advised that blogpost users include their contact email address at the end of each blogpost. 
    </p>
    <p>
    The goals of this website are listed below;
    </p>
    <ul>
      <li>Increase learning rate through the <span class="note">"learn by teaching others"</span> technique. 
        This technique is one of the most efficient way of learning a new skill</li>
      <li>Young individuals and beginners in a particular discipline get the opportunity to develop their confidence. They also get to test their understanding
      of the concept they are writing about.
      </li>
      <li>Users can always use the blogposts as a reference to their peers to show a level of competency. 
        After a while, when those interested in data science have developed a level of understanding of data science, our achievements will be posted here.</li>
      <li>For the users in Basic school(Primary school), this website may be too advanced for their consumption. But there will be good materials 
      they can download and read. Its also a good idea if they(Users in basic school and Some in Junior secondary schhol) try to glance through blogposts containig
      relevant educational information.</li>
      <li>  Finally, this website will contain information regarding relevant articles on educational oportunities and news on advancement of technology. 
        There will also be a <span class = "note">WHATSAPP GROUP</span> created specifically to discuss issues related to maths and science. Most especially data science  </li>
    </ul>
{% endblock %}
