{% extends "base.html" %}
{% block content %}

<body>
    <div class="container">
        <h3>DSME: Useful Materials for students in Junior secondary schools.</h3><br>
        <p>Feel free to upload materials for Junior secondary school students in pdf format here. </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-info" style="padding: 15px;">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
        <div><br>
          <form method="POST" action="/upload_junior" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>
        <div>
          <h3>These are the Junior Secondary school materials available to download!:</h3>
          <table class="table table-striped">
            <tr>
              <th>Filename</th>
              <th>Last Modified</th>
              <th>Type</th>
              <th>Size</th>
              <th></th>
            </tr>
            {% for f in contents_junior %}
            <tr>
              {% if '.pdf' in f.key %}
              <td>{{ f.key.split('/')[1] }}</td>
              <td>{{ f.last_modified | datetimeformat }}</td>
              <td>{{ f.key | file_type }}</td>
              <td>{{ f.size | convert_bytes }}</td>
              <td class="td-buttons">

                <form class="download-form" action="{{ url_for('users.download_junior') }}" method="POST">
                  <input type="hidden" name="key" value="{{ f.key }}">
                  <button type="submit" class="btn btn-primary btn-lg" id ="yes">
                    <i class="fa fa-download" aria-hidden="true">Download</i>
                  </button>
                </form>
              </td>
             {% endif %}
            </tr>
            {% endfor %}
          </table>
          
        </div>
    </div>
  </body>
{% endblock %}



