{% block title %}DSME - Password Reset{% endblock %}

{% block page_content %}
<div class="page-header">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-info" style="padding: 15px;">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
    <h1>Reset Your Password</h1>
</div>
<form action ="" method = "POST" >
    {{form.hidden_tag() }}
    <p>
        {{form.email.label}} <br>
        {{form.email(size=32)}} <br>
        {% for error in form.email.errors %}
        <span style = "color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
{% endblock %}